.player-tile {
  display: flex;
  align-items: center;
  width: 80%;
  transform: scale(1.1, 1.1);
  transition: transform 0.75s ease-in-out;
}

.champion-img {
  width: 75px;
}

.champion-name {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.init-event {
  transform: scale(1, 1);
  /* Dùng transform để căn giữa */
  position: relative;
  /* position cần thiết để translateX hoạt động */
}

.init-event:hover {
  transform: scale(1.1, 1.1);
  /* Dùng transform để căn giữa */
  position: relative;
  /* position cần thiết để translateX hoạt động */
  transition: transform 0.75s ease;
}